<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Explore</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link th:href="@{https://fonts.googleapis.com}" rel="preconnect">
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

</head>

<body class="category-page">

<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a th:href="@{/}" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">PersonalBlog</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="category.html" class="active">Category 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li>
                        <li><a href="category.html" class="active">Category 2</a></li>
                        <li><a href="category.html" class="active">Category 3</a></li>
                        <li><a href="category.html" class="active">Category 4</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div class="header-social-links">
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>

        </div>

    </div>
</header>

<main class="main">


    <div class="container">
        <div class="row">

            <div class="col-lg-8">

                <!-- Blog Posts Section -->
                <section id="blog-posts" class="blog-posts section">

                    <div class="container" >
                        <div class="row gy-4" >
                            <div th:if="${#lists.isEmpty(allPost)}" class="col-12 text-center">
                                <p>No results found.</p>
                            </div>
                            <div class="col-lg-6"  th:each="post :${allPost}">
                                <article class="position-relative h-100" >
                                    <div class="post-img position-relative overflow-hidden">
                                        <img th:src="@{${post.imageUrl}}" class="img-fluid" alt="Post Image">

                                        <span class="post-date position-absolute bottom-0 end-0 bg-dark text-white px-2 py-1 small"
                                              th:text="${#dates.format(post.publishedAt, 'dd MMM yyyy')}"></span>
                                    </div>

                                    <div class="post-content d-flex flex-column">

                                        <h3 class="post-title" th:text="${post.title}"></h3>

                                        <div class="meta d-flex align-items-center">
                                            <div class="d-flex align-items-center">
                                                <i class="bi bi-person"></i> <span class="ps-2" th:text="${post.users.fullName}"></span>
                                            </div>
                                            <span class="px-3 text-black-50">/</span>
                                            <div class="d-flex align-items-center">
                                                <i class="bi bi-folder2 me-2"></i>
                                                <span th:each="tag : ${post.tags}" class="me-2" th:text="${tag.tagName}">Tag</span>
                                            </div>

                                        </div>

                                        <p th:text="${post.content}"></p>

                                        <hr>

                                        <a th:href="@{'/PostDetail/' +${post.postID}}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                                    </div>

                                </article>
                            </div><!-- End post list item -->
                        </div>
                    </div>

                </section><!-- /Blog Posts Section -->

                <!-- Blog Pagination Section -->
                <section id="blog-pagination" class="blog-pagination section">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul>
                                <!-- Nút Previous -->
                                <li th:if="${currentPage > 1}">
                                    <a th:href="${currentPage - 1 == 1} ? @{/explore} : @{/explore(page=${currentPage - 1})}">
                                        <i class="bi bi-chevron-left"></i>
                                    </a>
                                </li>

                                <!-- Các trang -->
                                <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                                    <a th:href="${i == 1} ? @{/explore} : @{/explore(page=${i})}"
                                       th:classappend="${i == currentPage} ? 'active'"
                                       th:text="${i}">1</a>
                                </li>

                                <!-- Nút Next -->
                                <li th:if="${currentPage < totalPages}">
                                    <a th:href="${currentPage + 1 == 1} ? @{/explore} : @{/explore(page=${currentPage + 1})}">
                                        <i class="bi bi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- /Blog Posts Section -->

                <!--Blog Pagination Section -->

            </div>

            <div class="col-lg-4 sidebar">

                <div class="widgets-container">
                    <!-- Search Widget -->
                    <div class="search-widget widget-item">

                        <h3 class="widget-title">Search</h3>
                        <form th:action="@{/search}">
                            <input name="search" type="text">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </form>

                    </div><!--/Search Widget -->

                    <!-- Recent Posts Widget -->
                    <div class="recent-posts-widget widget-item">
                        <h3 class="widget-title">Recent Posts</h3>

                        <div class="post-item" th:each="recentPost : ${recentPosts}">
                            <img th:src="@{${recentPost.imageUrl}}" alt="" class="flex-shrink-0">
                            <div>
                                <a th:href="@{'/PostDetail/' + ${recentPost.postID}}" th:text="${recentPost.title}"></a>
                                <time th:text="${#dates.format(recentPost.publishedAt, 'dd MMM yyyy')}"></time>
                            </div>
                        </div><!-- End recent post item-->
                    </div>

                    <!-- Tags Widget -->
                    <div class="tags-widget widget-item">
                        <h3 class="widget-title">Tags</h3>
                        <ul>
                            <li th:each="tag : ${allTags}">
                                <a th:href="@{'/tags/' + ${tag.tagID}}" th:text="${tag.tagName}">Tag</a>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>

        </div>
    </div>

</main>

<footer id="footer" class="footer dark-background">


    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">PersonalBlog</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon
        </div>
    </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

<!-- Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>